# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/
ENV/

# Data & models 
data/*.csv
data/*.xlsx
models/*.pkl
models/*.joblib

!data/.gitkeep
!models/.gitkeep

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
